<mat-sidenav-container class="main-container">

  <mat-sidenav #sidenav
               [mode]="isMobile() ? 'over' : 'side'"
               [(opened)]="isSidenavOpen"
               class="sidenav">
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <app-header [sidenavOpen]="isSidenavOpen" [isMobile]="isMobile()" (toggleSidenav)="toggleSidenav()"></app-header>

    <div class="page-content" [class.has-bottom-nav]="isMobile()">
      <router-outlet></router-outlet>
    </div>

    @if (isMobile()) {
      <app-bottom-nav />
    }
  </mat-sidenav-content>

</mat-sidenav-container>
