<mat-sidenav-container class="main-container">

  <mat-sidenav #sidenav
               [mode]="isMobile ? 'over' : 'side'" 
               [(opened)]="isSidenavOpen" 
               class="sidenav">
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <app-header [sidenavOpen]="isSidenavOpen" (toggleSidenav)="toggleSidenav()"></app-header>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
