<div class="users-grid-container">
  @if (isLoading) {
    <div class="spinner-overlay">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
  }

  <div class="cards-grid">
    @for (user of dataSource.data; track user.id) {
      <mat-card class="user-item-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="user-avatar">
            <mat-icon>account_circle</mat-icon>
          </div>
          <mat-card-title>{{ user.name }}</mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-actions align="end">
          @if (getMainWhatsapp(user); as whatsappNumber) {
            <button mat-icon-button 
                    class="action-button-whatsapp"
                    (click)="openWhatsapp(whatsappNumber)" 
                    matTooltip="Abrir WhatsApp">
                <mat-icon class="whatsapp-icon">chat</mat-icon>
            </button>
          }

          <button mat-icon-button 
                  class="action-button-edit"
                  (click)="viewDetails.emit(user.id)" 
                  matTooltip="Editar Usuário">
              <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" 
                  (click)="deleteUser.emit(user)" 
                  matTooltip="Excluir Usuário">
              <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    } @empty {
      <div class="no-data">
        <mat-icon>person_off</mat-icon>
        <p>Nenhum usuário encontrado.</p>
      </div>
    }
  </div>
</div>
