      <div class="profile-avatar-section">
        <div class="image-wrapper" (click)="triggerImageUpload()" [class.editable]="isEditing" [style.background-color]="getAvatarColor()">
          @if (profilePicturePreview) {
            <img [src]="profilePicturePreview" class="profile-image" (error)="handleImageError($event)" />
          } @else {
            <div class="profile-placeholder">
              {{ getInitial() }}
            </div>
          }
          
          @if (isEditing) {
            <div class="edit-overlay">
              <mat-icon>photo_camera</mat-icon>
            </div>
          }
        </div>
      </div>
