mat-nav-list {
  padding: 16px 0;
  background-color: var(--mat-sys-surface-container-low);
  height: 100%;
  overflow-x: hidden;
}

a[mat-list-item] {
  margin: 4px 8px;
  border-radius: 12px;
  transition: all 0.2s ease;
  color: var(--mat-sys-on-surface-variant);
  justify-content: center;

  &:hover {
    background-color: var(--mat-sys-surface-container-high);
  }

  &.active-link {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);

    mat-icon {
      color: var(--mat-sys-on-primary-container);
    }
    
    font-weight: 600;
  }

  mat-icon {
    color: var(--mat-sys-on-surface-variant);
    margin-right: 0;
  }
}

.layout-toggle-button {
  margin-top: 16px !important;
  color: var(--mat-sys-secondary) !important;
  
  mat-icon {
    color: var(--mat-sys-secondary) !important;
  }
}

mat-divider {
    margin: 16px 8px;
    border-color: var(--mat-sys-outline-variant);
}
