<mat-nav-list>
  @for (item of navItems; track item.link) {
    @if (canView(item)) {
      <a mat-list-item
         [routerLink]="item.link"
         routerLinkActive="active-link"
         [routerLinkActiveOptions]="{exact: item.link === '/app/dashboard'}">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    }
  }

  <mat-divider></mat-divider>
  
  @if (authService.hasPermission('READ_USERS')) {
    <a mat-list-item (click)="layoutService.toggleLayout()" class="layout-toggle-button">
        <mat-icon matListItemIcon>
          {{ layoutService.layout() === 'moderno' ? 'view_list' : 'grid_view' }}
        </mat-icon>
        <span matListItemTitle>
          {{ layoutService.layout() === 'moderno' ? 'Layout Clássico' : 'Layout Moderno' }}
        </span>
    </a>
  }
</mat-nav-list>
